.first_screen_slider,
.slider-item {
    height: 520px;
    width: 380px;
}

.first_screen_img_one {
    z-index: 5;
    height: 490px;
    width: 350px;

}

.first_screen_img_two {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    height: 490px;
    width: 350px;
}

.carousel_nav {
    padding-top: 35px;
}

.carousel_nav>div {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C4C4C4;
}

.projects_slider_item,
.projects_slider_item>div {
    height: 550px;
    width: 442px;
}

.front_img {
    height: 100%;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.65);
}

.front_img .front_img_text {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 40px;
}

.front_img .front_img_date {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    transform: rotate(-90deg);
    left: -15px;
    bottom: 210px;
}

.front_img_search {
    visibility: hidden;
    width: 100%;
    height: 100%;
}

.front_img_search>div {
    height: 100%;
}

.front_img_search>div>div {
    height: 100px;
    width: 100px;
    background-position: center;
    background-image: url("../images/Group-9.png");
    background-size: cover;
    background-repeat: no-repeat;
}


/* partners */


@media (max-width: 515px) {
    .partner_slider>img {
        height: 100%;
        width: 100%;
    }

    .partner_slider_item {
        height: 100px;
        width: 120px;
    }
}


/* projects */

.projects_slider_item:hover .front_img_search {
    visibility: visible;
}

.projects_slider_item:hover .front_img {
    visibility: hidden;
}

@media (max-width: 500px) {

    .projects_slider_item,
    .projects_slider_item>div {
        height: 390px;
        width: 300px;
    }
}